asyncio==3.4.3
gobject==0.1.0
pathlib==1.0.1
pycairo==1.21.0; python_version >= "3.7"
pygobject==3.42.2; python_version >= "3.6" and python_version < "4"
pynoticenter==0.1.3; python_version >= "3.9" and python_version < "4.0"
